apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: java-servicemonitor
  namespace: monitoring
  labels:
    release: monitoring
spec:
  namespaceSelector:
    any: true
  selector:
    matchLabels:
      app: java-grpc-server
  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s
