apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  labels:
    app: nodejs
spec:
  selector:
    app: nodejs
  type: ClusterIP
  ports:
    - port: 50051
      targetPort: 50051
      name: grpc
    - port: 50053
      targetPort: 50053
      name: metrics